.container {
    max-width: 144rem;
    padding: 0 2rem;
    margin: 0 auto;
}
.products {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.product img {
    width: 100%;
    position:relative;
}

.product-content {
    padding: 1rem;
}

.product .product-title {
    font-size: 2rem;
}

.product-description {
    text-align: center;
   
}

.product-title,
.product-price-container,
.product-description,
.product-category {
    padding: 0.5rem 0;
    flex-direction: row;
    
}

.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    z-index: 999;
    display: none;
    
 }

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
} 
